<body>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button (click)="MostrarMenu()" color="warning">
          <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-label class="welcome-message">
          Hola {{ getUsernameFromSession() }}!!!!
        </ion-label>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" style="display: flex; flex-direction: column; align-items: center;">
    <ion-header collapse="condense">
    </ion-header>
    <ion-card class="mi-card">
      <ion-card-header>
        <ion-card-title position="center" style="font-size: 27px;">
          RegistrAPP <br><br>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-text-center">
        <p>¡Descúbrelo ahora y disfruta de una experiencia única!</p>
        <img src="assets/LOGOsinFondo.png" class="ion-padding">
      </ion-card-content>
    </ion-card>

    <div style="display: flex; flex-direction: column; align-items: center;">
      <ion-button (click)="logout()" expand="" color="secondary" shape="round" fill="solid" class="ion-text-center" class="ion-padding">
        CERRAR SESIÓN
      </ion-button>
    </div>

    <ion-footer  fixed="true" >
      <ion-toolbar style="color: #fe5489;">
        <a href="https://www.facebook.com/"><ion-icon name="logo-facebook" class="icon-container"></ion-icon></a>
        <a href="https://www.instagram.com/"><ion-icon name="logo-instagram" class="icon-container"></ion-icon></a>
        <a href="https://www.tiktok.com/"><ion-icon name="logo-tiktok" class="icon-container"></ion-icon></a>
      </ion-toolbar>
    </ion-footer>
    
  </ion-content>
</body>
