<ion-header>
  <ion-toolbar>
    <ion-title>{{ libro.titulo }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Año:</ion-label>
          <ion-text>{{ libro.anio }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Autor:</ion-label>
          <ion-text>{{ libro.autor }}</ion-text>
        </ion-item>
      </ion-list>
      <ion-item-divider>Descripción</ion-item-divider>
      <ion-text>{{ libro.descripcion }}</ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
