<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>INICIAR SESIÓN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ingresa tus datos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="loginForm">
        <ion-item>   
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input type="email" formControlName="correo"></ion-input>
        </ion-item>
        <div *ngIf="loginForm.get('correo')?.invalid && (loginForm.get('correo')?.dirty || loginForm.get('correo')?.touched)">
          <div style="color: red;" *ngIf="loginForm.get('correo')?.hasError('required')">
            Ingrese su correo correctamente.
          </div>
          <div style="color: red;" *ngIf="loginForm.get('correo')?.hasError('minlength')">
            Inserte un mínimo de 10 dígitos.
          </div>
        </div>
        <ion-item>   
          <ion-label position="floating">Contraseña</ion-label> <br>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
          <div style="color: red;" *ngIf="loginForm.get('password')?.hasError('required')">
            Ingrese correctamente su password
          </div>
          <div style="color: red;" *ngIf="loginForm.get('password')?.hasError('minlength')">
            Inserte mínimo 8 dígitos
          </div>
        </div>
      </form>
      <br>
      <div style="display: flex; flex-direction: column; align-items: center;">
        <ion-buttons slot="end">
          <ion-button [routerLink] = "['/recuperar-contra']" style="font-size: 12px">RECUPERAR CONTRASEÑA</ion-button>
        </ion-buttons>
        <br>
        <ion-button (click)="login()" [disabled]="!loginForm.valid" color="secondary" shape="round" fill="solid" class="ion-text-center">
          ENTRAR
        </ion-button>
      </div> <br>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button [routerLink] = "['/registro']" >REGISTRARSE</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>









